// Import basic styles...includes normalize.css and colors / variables / mixins
@import "basic";
@import "bootstrap-grid";

#wrapper {
  display: block;
  position: relative;
  min-height: 100%;
  width: 100%;
  background-color: $wrapper;
}

#react-container {}

#main-window {
  display: block;
  position: absolute;
  top: 0px;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  background-color: $main-window;
  text-align: center;
  .banner {
    height: $mobile-banner-height;
    line-height: $mobile-banner-height;
    margin: 15px;
    background-color: #EEE;
    border-radius: 3px;
    h1 {
      margin: 0px;
      padding: 0px;
    }
  }
  .content {
    padding-top: $header-height;
  }
  @media (min-width: 576px) {
    .banner {
      height: $banner-height;
      line-height: $banner-height;
      margin: 30px;
    }
  }
}


// Import non-component stylesheets
@import "spinner";
// Import component stylesheets
@import "alerts";
@import "header";
@import "overlay";
@import "pages/404";
@import "pages/login";
@import "pages/admin";
@import "pages/landing";
@import "pages/items";
@import "pages/item";
@import "pages/cart";
@import "pages/checkout";
@import "item-colors";
@import "fontello";
