/********************************************************************************/
/************************************ COLORS ************************************/
/********************************************************************************/

/* Body */

$text: #363B3E;
$body: #FAFAFB;
$wrapper: transparent;
// $main-window: #444;
$main-window: $body;
$game: #333435;

/* Links */

$link: #3770B0;
$link-hover: #4780C0;
$link-selected: #175090;

$link-border: lighten($link, 25%);
$link-border-hover: lighten($link-border, 5%);

/* Alerts */

$success-green: #37B070;
$success-green-trans: rgba(55,176,112,0.9);
$success-hover-green: #57D090;

$neutral-blue: #D9EDF7;
$neutral-border: #BCDFF1;
$neutral-text: #31708F;

$error-red: #C00;
$error-red-trans: rgba(204,0,0,0.9);
$error-red-dark: #A9271D;
$error-text-red-light: #FFD7D4;
$error-red-shadow: 0px 1px 2px rgba(204,0,0,0.9);

/* General */

$ghost: rgba(255,255,255,0.93);
$shadow: rgba(0,0,0,0.05);
$shadow-2: rgba(0,0,0,0.2);
$overlay-shadow: 0px 0px 0px 9999px rgba(0,0,0,0.5);

/* Header */

$header-link-color: #888;
$header-link-color-hover: #444;
