#header {
  position: fixed;
  width: 100%;
  padding: 0px;
  background-color: $ghost;
  box-shadow: 0px 1px 0px $shadow;
  z-index: 1;
  #header-logo {
    display: inline-block;
    position: absolute;
    left: 50%;
    width: 98px;
    padding: 15px 0px;
    margin-left: -49px;
    text-align: center;
    a {
      @include headerLinkMobile;
      display: block;
      font-size: 0.8em;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
  ul {
    margin: 0px 15px;
    padding: 0px;
    list-style-type: none;
    text-align: left;
    li {
      display: inline-block;
      padding: 15px 0px;
      &:hover {
        cursor: pointer;
        a {
          @include headerLinkHover;
        }
      }
      a {
        @include headerLinkMobile;
      }
    }
    #about-link { display: none; }
    #login-link { display: none; }
  }
  .dropdown-container {
    &:hover {
      border-bottom: 2px inset #DDD;
      .items-dropdown-menu {
        display: inline-block;
        a {
          background-color: initial;
          &:hover {
            @include headerLinkHover;
          }
        }
      }
    }
    .items-dropdown-menu {
      display: none;
      position: absolute;
      top: $header-height + 3;
      left: 0px;
      background-color: $ghost;
      &:hover {
        display: inline-block;
      }
      ul {
        margin: 15px;
      }
    }
  }
  #shopping-cart-button {
    position: absolute;
    right: 15px;
    a {
      height: 24px;
      width: 30px;
      background: url("/img/shoppingCartIcon.png");
      background-position: center;
      background-size: 50%;
      background-repeat: no-repeat;
      opacity: 0.5;
    }
    &:hover {
      a {
        background: #EEE url("/img/shoppingCartIcon.png");
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        opacity: 0.9;
      }
    }
  }
  @media (min-width: 576px) {
    ul {
      margin: 0px 30px;
      li {
        a { @include headerLink; }
      }
    }
    .dropdown-container {
      .items-dropdown-menu {
        ul { margin: 30px; }
      }
    }
    #shopping-cart-button { right: 30px; }
  }
  @media (min-width: 768px) {
    #header-logo {
      width: 200px;
      margin-left: -100px;
      a {
        font-size: 1.5em;
      }
    }
    ul {
      #about-link { display: inline-block; }
      #login-link { display: inline-block; }
    }
  }
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: $ghost;
  box-shadow: 0px -1px 0px $shadow;
  ul {
    margin: 0px;
    padding: 30px;
    list-style-type: none;
    text-align: center;
    li {
      display: inline-block;
      a{
        @include headerLinkMobile
      }
    }
  }
  @media (min-width: 576px) {
    ul {
      li {
        a {
          @include headerLink;
        }
      }
    }
  }
}
