/*************************************************************************************/
/************************************ ITEM COLORS ************************************/
/*************************************************************************************/

.color-black + label:before { background: black; }
.color-beige + label:before { background: beige; }
.color-blue + label:before { background: blue; }
.color-gray + label:before { background: gray; }
.color-green + label:before { background: green; }
.color-red + label:before { background: red; }
.color-tan + label:before { background: tan; }
