/*******************************************************************************/
/************************************ SIZES ************************************/
/*******************************************************************************/

/* Body */
$body_desktop_min_width: 980px;

/* Header */
$header-height: 84px;

/* Pages */
$banner-height: 280px;
