<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="./css/app.css">
</head>
<body>

    <div id="wrapper">
        <div id="react-container">
            <div id="loading-spinner-container">
                <span id="loading-spinner" class="spinner"></span>
            </div>
        </div>
    </div>
    <script> var loggedIn = <%= loggedIn %>; </script>
    <script src="http://localhost:8080/app.js" charset="utf-8"></script>

</body>
</html>
