<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>

    <div id="wrapper">
        <div id="react-container">
            <div id="loading-spinner-container">
                <span id="loading-spinner" class="spinner"></span>
            </div>
        </div>
    </div>
    <% include _vars %>
    <script src="/js/app.js" charset="utf-8"></script>

</body>
</html>
