#cart-page {
  .cart-container { margin-top: 15px;}
  .cart-top,
  .cart-bottom {
    a {
      @include linkCTA;
      vertical-align: middle;
      &.disabled {
        background-color: #999;
        cursor: default;
      }
    }
  }
  .cart-top {
    margin: 0px;
    padding: 0px 0px 30px;
    border-bottom: 1px solid #EEE;
    text-align: center;
    button {
      @include transparentButton;
      font-size: 13px;
      vertical-align: middle;
    }
    a {
      display: block;
      margin-top: 15px;
    }
  }
  table#cart-table {
    display: inline-table;
    width: 100%;
    margin: 30px auto;
    tr {
      font-size: 14px;
      font-weight: 400;
      color: #999;
      &.cart-item {
        border-bottom: 1px solid #EEE;
        &:last-of-type { border-bottom: 0px; }
        th,
        td {
          max-width: 52px;
          margin: 5px auto;
          padding: 5px 0px;
          font-size: 12px;
          line-height: 16px;
          color: #444;
          text-align: center;
          box-sizing: border-box;
          vertical-align: top;
          &:first-of-type {
            text-align: left;
          }
          &:last-of-type {
            padding-right: 0px;
            text-align: right;
            button {
              padding: 0px;
              font-size: 14px;
              color: #AAA;
              text-align: text-top;
              &:hover { color: $error-red-trans; }
            }
          }
          img {
            max-width: 30px;
          }
          button {
            @include transparentButton;
            font-size: inherit;
            vertical-align: middle;
          }
        }
      }
    }
  }
  .cart-bottom {
    padding: 30px 0px 15px;
    border-top: 1px solid #EEE;
    text-align: center;
    a {
      width: 100%;
      padding: 10px 15px;
      box-sizing: border-box;
    }
  }
}

.cart-summary {
  margin: 0px;
  padding: 30px 0px 0px;
  font-size: 14px;
  color: #777;
  text-align: right;
  p {
    margin: 2px 0px;
    &:last-of-type {
      padding-top: 5px;
      border-top: 2px dotted #EEE;
    }
    > span:first-of-type { float: left; }
    > span:last-of-type {
      font-size: 14px;
      font-weight: 600;
      color: #555;
    }
  }
}

@media (min-width: 576px) {
  #cart-page {
    .cart-container { margin-top: 30px; }
    .cart-top {
      padding-top: 15px;
      text-align: left;
      button {
        font-size: 14px;
      }
      a {
        display: inline-block;
        float: right;
        margin-top: 0px;
      }
    }
    table#cart-table {
      tr.cart-item {
        font-weight: 600;
        td {
          max-width: 103.2px;
          font-size: 13px;
          line-height: inherit;
          text-align: left;
          &:first-of-type {
            text-align: left;
          }
          &:last-of-type {
            button {
              font-size: 18px;
            }
          }
          img {
            max-width: 60px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #cart-page {
    table#cart-table {
      tr.cart-item {
        td {
          max-width: 141.6px;
          margin: 30px auto;
          padding: 5px 15px;
          font-size: 14px;
          vertical-align: middle;
          &:first-of-type {
            padding-left: 0px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #cart-page {
    table#cart-table {
      tr.cart-item {
        td {
          max-width: none;
        }
      }
    }
  }
}
