#admin-dashboard {
  text-align: center;
  padding-bottom: 150px;
  table {
    display: inline-table;
    margin: 15px auto;
    tr {
      border-bottom: 1px solid #EEE;
      &:hover { background-color: #EEE; }
      th,
      td {
        padding: 5px 5px;
        font-size: 14px;
        text-align: left;
        img {
          max-width: 60px;
        }
      }
    }
  }
}

/*
* Admin Nav
* --------------------------------------------------
*/

#admin-nav,
#items-nav {
  background-color: $ghost;
  margin: 15px 0px;
  padding: 15px 30px;
  border-radius: 3px;
  text-align: left;
  span {
    font-weight: 600;
    color: $header-link-color;
  }
  ul {
    display: inline-block;
    margin: 0px 0px 0px 30px;
    padding: 0px;
    list-style-type: none;
    li {
      display: inline-block;
      margin-right: 15px;
      &.selected {
        border-bottom: 2px solid $success-green-trans;
      }
      a {
        @include headerLink;
        &.toggled {
          color: #FFF;
          background-color: #444;
          &:after {
            content: '✓';
            margin-left: 6px;
            color: $success-green-trans;
          }
        }
      }
    }
  }
}

/*
* Admin Items View
* --------------------------------------------------
*/

#admin-items-view {
  #items-nav { padding: 0px 30px; }
  #add-item-modal,
  #edit-item-modal {
    display: block;
    position: absolute;
    top: 90px;
    left: 0px;
    width: 100%;
    text-align: center;
    form {
      position: relative;
      width: 300px;
      margin: 0px auto;
      padding: 30px 60px;
      background-color: #FFF;
      border-radius: 5px;
      box-shadow: $overlay-shadow;
      z-index: 1;
      #close-panel {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 30px;
        width: 30px;
        font-size: 20px;
        font-weight: 400;
        color: #BBB;
        background-color: transparent;
        border: 0px solid #DDD;
        border-left-width: 2px;
        border-bottom-width: 2px;
        border-radius: 0px 5px 0px 5px;
        &:hover {
          background-color: #EEE;
          cursor: pointer;
        }
      }
      p {
        margin: 8px 0px;
        label {
          display: block;
          margin-bottom: 2px;
          color: #555;
          text-align: left;
          font-weight: 500;
        }
        input,
        select,
        textarea {
          width: 100%;
          margin: 0px;
          padding: 4px 8px;
          border-radius: 3px;
          border: 1px solid #CCC;
          box-sizing: border-box;
          &[type="submit"] {
            margin-top: 15px;
            padding: 15px 30px;
            color: #FFF;
            font-weight: 600;
            background-color: $link;
            border: 0px;
          }
        }
        img {
          max-width: 300px;
          margin-top: 15px;
          &.hidden { display: none; }
        }
        input[type="file"] {
          margin: 0px;
          padding: 0px;
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
          &:hover {
            cursor: pointer;
          }
          &:focus {
            outline: 0px;
          }
        }
        #file-button {
          font-weight: 600;
          background-color: #FFF;
          border: 2px solid #000;
          text-align: center;
          border-radius: 3px;
          @include buttonTransition();
          &:hover {
            @include buttonTransition();
            background-color: #EEE;
            cursor: pointer;
          }
          &:focus {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;;
          }
        }
        .spinner {
          display: none;
          height: 48px;
          width: 100%;
          &:before {
            top: 4px;
            left: 126px;
            height: 48px;
            width: 48px;
            margin: 0px;
          }
          &.visible {
            display: block;
          }
        }
      }
    }
  }
}

/*
* Admin Orders View
* --------------------------------------------------
*/

#admin-orders-view {}

/*
* Admin Images View
* --------------------------------------------------
*/

#admin-images-view {}
