#cart-page {
  .cart-container { margin-top: 30px;}
  .cart-top,
  .cart-bottom {
    a {
      @include linkCTA;
      vertical-align: middle;
      &.disabled {
        background-color: #999;
        cursor: default;
      }
    }
  }
  .cart-top {
    margin: 0px;
    padding: 15px 0px 30px;
    border-bottom: 1px solid #EEE;
    text-align: left;
    button {
      @include transparentButton;
      vertical-align: middle;
    }
    a {
      float: right;
    }
  }
  table#cart-table {
    display: inline-table;
    width: 100%;
    margin: 30px auto;
    tr.cart-item {
      border-bottom: 1px solid #EEE;
      &:last-of-type { border-bottom: 0px; }
      th,
      td {
        padding: 5px 15px;
        color: #666;
        text-align: left;
        &:first-of-type {
          padding-left: 0px;
        }
        &:last-of-type {
          padding-right: 0px;
          text-align: right;
          button { padding: 0px; }
        }
        img {
          max-width: 60px;
        }
        button {
          @include transparentButton;
          vertical-align: middle;
        }
      }
    }
  }
  .cart-bottom {
    padding: 30px 0px 15px;
    border-top: 1px solid #EEE;
    text-align: center;
    a {
      width: 100%;
      padding: 10px 15px;
      box-sizing: border-box;
    }
  }
}

.cart-summary {
  margin: 0px;
  padding: 30px 0px 0px;
  font-size: 14px;
  color: #777;
  text-align: right;
  p {
    margin: 2px 0px;
    &:last-of-type {
      padding-top: 5px;
      border-top: 2px dotted #EEE;
    }
    > span:first-of-type { float: left; }
    > span:last-of-type {
      font-size: 14px;
      font-weight: 600;
      color: #555;
    }
  }
}
