#checkout-page {
  #checkout-progress {
    padding: 0px 30px;
    &.progress-shipping {
      section:nth-of-type(1) {
        color: $success-green-trans;
        border-bottom: 2px solid $success-green-trans;
      }
    }
    &.progress-payment {
      section:nth-of-type(2) {
        color: $success-green-trans;
        border-bottom: 2px solid $success-green-trans;
      }
    }
    &.progress-confirm {
      section:nth-of-type(3) {
        color: $success-green-trans;
        border-bottom: 2px solid $success-green-trans;
      }
    }
    section {
      display: inline-block;
      height: 100%;
      padding: 15px;
      font-weight: 600;
      color: #999;
      border-bottom: 2px solid #EEE;
      box-sizing: border-box;
    }
  }
  #shipping-form,
  #payment-form,
  #confirm-form {
    padding-top: 30px;
    padding-bottom: 15px;
    p {
      margin: 15px 0px;
      &:last-of-type { margin: 30px 0px; }
    }
    span {
      box-sizing: border-box;
      &.full {
        input {
          display: block;
        }
      }
    }
    label {
      display: block;
      text-align: left;
    }
    input,
    select {
      height: 48px;
      width: 100%;
      padding: 10px 15px;
      border: 2px solid #EEE;
      border-radius: 5px;
      box-sizing: border-box;
    }
    input[type="submit"] {
      font-weight: 600;
      color: #FFF;
      background-color: $link;
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
    .form-field-error {
      border-color: $error-red-trans;
    }
  }
  #shipping-form {}
  #payment-form {}
  #confirm-form {}
  h2 { margin: 15px 0px; }
  .checkout-summary {
    margin: 0px 15px;
    padding: 15px 30px;
    border: 2px solid #EEE;
    border-radius: 5px;
  }
  table#checkout-table {
    display: inline-table;
    width: 100%;
    margin: 15px auto;
    tr.checkout-item {
      border-bottom: 1px solid #EEE;
      &:last-of-type { border-bottom: 0px; }
      th,
      td {
        padding: 5px 15px;
        text-align: left;
        img {
          max-width: 60px;
        }
        button {
          @include transparentButton;
          vertical-align: middle;
        }
      }
    }
  }
}

